---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero" style="
  background-image: url('{{site.baseurl}}/assets/images/vow-tshirts full.jpeg');
  background-size: cover;
">
  <div class=" align-items-center justify-content-between">
    <div class="col-md-6" style="padding:5rem 5rem; background-color: rgba(251,136,163,.7);">
      <span class="font-weight-bold mb-4 serif-font" style = "
      font-size:2.5em;
      color: white;
      background-color: rgb(215,56,117);
     
      
      line-height: 1.5
      
      
      
      
      
      ">We deliver <br/>essential supplies <br/>to people who need it most.</span>
      <p> </p>
      <p class="lead mb-4" style = "background-color:rgb(0,111,199);color: white;">We are a team of volunteers who distribute food and other supplies to over 30 food banks and up to 27,000 people every week*.</p>
      <a href="{{site.baseurl}}/about" class="btn btn-outline-light text-white px-5 btn-lg">Read more</a>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <!-- <img class="intro" height="500" src="{{site.baseurl}}/assets/images/vow-tshirts full.jpeg">      -->
    </div>
  </div>


<!--  -->

</div>
{% endif %}



<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-12">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-4 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
<div class="col-sm-12 text-right">
  <p class = "asterisk"> * as estimated by the food banks in 2021</p> 
</div>
  
  
</section>
